<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bot Manager | Dashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
		<link rel="stylesheet" href="/css/dashboard.css">
		<link rel="stylesheet" href="/css/font-awesome.css">
	</head>
	<body>
		<!-- Top Menu -->
		<div class="top-bar">
			<div class="top-bar-left title">
				<ul class="menu">
					<li class="topbar-title">
						<a href="/dashboard">Video Manager</a>
					</li>
				</ul>
			</div>
			
			<div class="top-bar-right">
				<ul class="dropdown menu" data-dropdown-menu>
					<li>
						<a href="javascript:void(0)">Options</a>
						<ul class="menu vertical" id="dropdown">
							<li><a href="/accessed">Access</a></li>
							<li><a href="/settings">Settings</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class="grid-container fluid">
			<div class="container grid-x grid-margin-x">
				<div class="medium-6 large-8 cell">
					<div class="grid-y" id="bot-container"></div>
				</div>
				<div class="medium-6 large-4 cell" id="bot-info"></div>
			</div>
		</div>

		<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
		<script src="/js/bot-dashboard.js"></script>
	</body>
</html>