<nav class="navigation">
	<div class="nav-left">
		<ul class="nav-menu">
			<li class="menu-item title">Website in development</li>
		</ul>
	</div>
	<div class="nav-right">
		<ul class="nav-menu">
			<a class="button" href="/login">Login</a>
			<a class="button invite" href="/invite">Invite</a>
			<a class="button" href="/status">Status</a>
		</ul>
	</div>
</nav>