/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
	$shadow: ();
	$from: $stroke*-1;
	@for $i from $from through $stroke {
		@for $j from $from through $stroke {
			$shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
		}
	}
	@return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
	text-shadow: stroke($stroke, $color);
}


html, body {
	height: 100%;
}

$body-bg: #131625;

body {
	background: $body-bg;
	color: #ebebeb;
}

#bot-container {
	> .cell {
		margin-bottom: 20px;
	}

	.edit-app {
		display: none;
	
		&.shown {
			display: block;
		}

		.title-container {
			.minimize {
				float: right;
			}
		}

		.editor-container {
			//
		}

		.tools {
			text-align: right;
			
			a {
				margin-left: 5px;
			}
		}
	}
}


#bot-info {
	.status {
		background-color: #373a4d;
		color: white;
	}
}

.header {
	background-color: #373a4d;
	position: relative;
	padding: 5px;

	.header-item {
		padding: 5px 10px;
	}
}

.listener {
	.setup {
		.desc {
			font-size: 15px;
			color: #464a5a;
		}

		.linked-text {
			color: #0e4d0b;
			font-weight: bold;
		}

		.tools {
			text-align: right;
			
			.button {
				margin-left: 5px;
			}
		}
	}
}

.apps {
	.title {
		margin-bottom: 0px;
	}

	.apps-cont {
		width: 100%;
		height: auto;
		position: relative;
		overflow: hidden;

		.app {
			float: left;
			height: 75px;
			width: 25%;
			padding: 4px;

			&.active {
				//
			}

			.app-container {
				position: relative;
				background-color: #373a4d;
				cursor: pointer;
				padding: 4px;
				height: 100%;
				width: 100%;

				&:hover {
					background-color: #373a4d * 0.85;
				}

				.icon {
					color: $body-bg;
				}

				.name {
					position: absolute;
					@include stroke(3, $body-bg);
					bottom: 5px;
					left: 25px;
					font-size: 20px;
					color: #ddd;
				}
			}
		}
	}

	.toggle {
		width: 100%;
		height: 15px;
		background: #272b3b;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		cursor: pointer;
	}
}


.container {
	margin-top: 20px;

	&.dsc {
		> .cell {
			margin-bottom: 1em;
		}

		.commands {
			.title {
				display: inline-block;
			}

			.newitem {
				float: right;
			}

			.command-container {
				background-color: #3e4158;
				color: white;

				.add-button {
					width: 15px;
					height: 15px;
					padding: 0px;
					margin: 4px;
					border: none;
					font-size: .8em;
					float: right;
				}
			}
		}

		.phrases {
			.title {
				display: inline-block;
			}

			.newitem {
				float: right;
			}

			.phrase-container {
				background-color: #3e4158;
				color: white;
			}
		}
	}
}

button.togglable {
	.sign {
		margin-right: 4px;
	}

	.text {
		// 
	}
}


.chip-container {
	border: none;
	border-bottom: 1px solid #9e9e9e;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 0 8px 0;
	min-height: 45px;
	outline: none;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;

	.chip {
		display: inline-block;
		height: 32px;
		font-size: 13px;
		font-weight: 500;
		color: rgba(0,0,0,0.6);
		line-height: 32px;
		padding: 0 12px;
		border-radius: 16px;
		background-color: #e4e4e4;
		margin-bottom: 5px;
		margin-right: 5px;

		.remove {
			margin-left: 3px;
			cursor: pointer;
			font-style: normal;
		}
	}

	.input {
		background: none;
		border: 0;
		color: rgba(0,0,0,0.6);
		display: inline-block;
		font-size: 16px;
		height: 3rem;
		line-height: 32px;
		outline: 0;
		margin: 0;
		padding: 0 !important;
		width: 120px !important;
		border-radius: 0;
		box-shadow: none;
		box-sizing: content-box;
		transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
	}
}


.bot-preview {
	transition: background-color 200ms;
	cursor: pointer;
}

.bot-preview > p {
	margin-bottom: 0;
}

.bot-preview:hover {
	background-color: #d2d2d2;
}