html, body {
  height: 100%; }

body {
  background: #2f3135;
  color: #ebebeb; }

#bot-container > .cell {
  margin-bottom: 20px; }

#bot-container .edit-app {
  display: none; }
  #bot-container .edit-app.shown {
    display: block; }
  #bot-container .edit-app .title-container .minimize {
    float: right; }
  #bot-container .edit-app .tools {
    text-align: right; }
    #bot-container .edit-app .tools a {
      margin-left: 5px; }

#bot-info .status {
  background-color: #373a4d;
  color: white; }

.header {
  background-color: #373a4d;
  position: relative;
  padding: 5px; }
  .header .header-item {
    padding: 5px 10px; }

.listener .setup .desc {
  font-size: 15px;
  color: #464a5a; }

.listener .setup .linked-text {
  color: #0e4d0b;
  font-weight: bold; }

.listener .setup .tools {
  text-align: right; }
  .listener .setup .tools .button {
    margin-left: 5px; }

.apps .title {
  margin-bottom: 0px; }

.apps .apps-cont {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .apps .apps-cont .app {
    float: left;
    height: 75px;
    width: 25%;
    padding: 4px; }
    .apps .apps-cont .app .app-container {
      position: relative;
      background-color: #373a4d;
      cursor: pointer;
      padding: 4px;
      height: 100%;
      width: 100%; }
      .apps .apps-cont .app .app-container:hover {
        background-color: #2f3141; }
      .apps .apps-cont .app .app-container .icon {
        color: #2f3135; }
      .apps .apps-cont .app .app-container .name {
        position: absolute;
        text-shadow: -3px -3px 0 #2f3135, -3px -2px 0 #2f3135, -3px -1px 0 #2f3135, -3px 0px 0 #2f3135, -3px 1px 0 #2f3135, -3px 2px 0 #2f3135, -3px 3px 0 #2f3135, -2px -3px 0 #2f3135, -2px -2px 0 #2f3135, -2px -1px 0 #2f3135, -2px 0px 0 #2f3135, -2px 1px 0 #2f3135, -2px 2px 0 #2f3135, -2px 3px 0 #2f3135, -1px -3px 0 #2f3135, -1px -2px 0 #2f3135, -1px -1px 0 #2f3135, -1px 0px 0 #2f3135, -1px 1px 0 #2f3135, -1px 2px 0 #2f3135, -1px 3px 0 #2f3135, 0px -3px 0 #2f3135, 0px -2px 0 #2f3135, 0px -1px 0 #2f3135, 0px 0px 0 #2f3135, 0px 1px 0 #2f3135, 0px 2px 0 #2f3135, 0px 3px 0 #2f3135, 1px -3px 0 #2f3135, 1px -2px 0 #2f3135, 1px -1px 0 #2f3135, 1px 0px 0 #2f3135, 1px 1px 0 #2f3135, 1px 2px 0 #2f3135, 1px 3px 0 #2f3135, 2px -3px 0 #2f3135, 2px -2px 0 #2f3135, 2px -1px 0 #2f3135, 2px 0px 0 #2f3135, 2px 1px 0 #2f3135, 2px 2px 0 #2f3135, 2px 3px 0 #2f3135, 3px -3px 0 #2f3135, 3px -2px 0 #2f3135, 3px -1px 0 #2f3135, 3px 0px 0 #2f3135, 3px 1px 0 #2f3135, 3px 2px 0 #2f3135, 3px 3px 0 #2f3135;
        bottom: 5px;
        left: 25px;
        font-size: 20px;
        color: #ddd; }

.apps .toggle {
  width: 100%;
  height: 15px;
  background: #272b3b;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer; }

.container {
  margin-top: 20px; }
  .container.dsc > .cell {
    margin-bottom: 1em; }
  .container.dsc .commands .title {
    display: inline-block; }
  .container.dsc .commands .newitem {
    float: right; }
  .container.dsc .commands .command-container {
    background-color: #3e4158;
    color: white; }
    .container.dsc .commands .command-container .add-button {
      width: 15px;
      height: 15px;
      padding: 0px;
      margin: 4px;
      border: none;
      font-size: .8em;
      float: right; }
  .container.dsc .phrases .title {
    display: inline-block; }
  .container.dsc .phrases .newitem {
    float: right; }
  .container.dsc .phrases .phrase-container {
    background-color: #3e4158;
    color: white; }

button.togglable .sign {
  margin-right: 4px; }

.chip-container {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 0 8px 0;
  min-height: 45px;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .chip-container .chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px; }
    .chip-container .chip .remove {
      margin-left: 3px;
      cursor: pointer;
      font-style: normal; }
  .chip-container .input {
    background: none;
    border: 0;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 16px;
    height: 3rem;
    line-height: 32px;
    outline: 0;
    margin: 0;
    padding: 0 !important;
    width: 120px !important;
    border-radius: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s; }

.dashboard-container {
  display: flex;
  height: 100%; }
  .dashboard-container .dashboard-sidebar {
    width: 14rem;
    background-color: #24282f; }
  .dashboard-container .dashboard-inner-container #bots {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
  .dashboard-container .dashboard-inner-container .bot-preview-container {
    padding: 8px;
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
    box-sizing: border-box; }
    .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview {
      transition: background-color 200ms;
      background: #2f333b;
      height: 100%;
      display: flex;
      position: relative;
      flex-direction: column; }
      .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header {
        border-bottom: 1px solid #1a1a1a;
        background: #23272b;
        height: 46px;
        display: flex;
        padding: 0 16px; }
        .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-visual {
          flex: 1 1 auto;
          min-width: 0;
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box; }
          .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-visual .visual-inner {
            flex: 1;
            display: flex;
            min-width: 0;
            align-items: center; }
            .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-visual .visual-inner .visual-icon {
              color: #00b159; }
              .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-visual .visual-inner .visual-icon.not-active {
                color: #b10000; }
              .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-visual .visual-inner .visual-icon svg {
                vertical-align: middle;
                width: 38px;
                height: 38px; }
            .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-visual .visual-inner .visual-title {
              margin-left: 10px !important;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #f4f4f4;
              font-size: 1rem;
              font-family: Verdana;
              font-weight: 400;
              line-height: 1rem;
              margin: 0; }
        .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-dropdown {
          cursor: pointer;
          flex: 0 0 auto;
          align-self: flex-start;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 46px;
          color: #3683dc; }
          .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-dropdown:hover {
            color: #4295f3; }
          .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-header .header-dropdown svg {
            fill: currentColor;
            width: 1em;
            height: 1em;
            font-size: 28px; }
      .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-inner-container {
        min-height: 200px;
        padding: 14px;
        font-size: 0.875rem;
        line-height: 1rem; }
        .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-inner-container .inner-section {
          font-family: sans-serif;
          color: white; }
      .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-footer {
        border-top: 1px solid #1a1a1a;
        background: #23272b;
        display: flex;
        height: 40px; }
        .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-footer .footer-button {
          flex: 1 1 auto;
          padding: 12px 12px 14px;
          font-size: .9rem;
          color: #3683dc;
          cursor: pointer;
          transition: background-color 400ms, color 400ms; }
          .dashboard-container .dashboard-inner-container .bot-preview-container .bot-preview .bot-footer .footer-button:hover {
            background-color: #3683dc;
            color: black; }
  .dashboard-container .dashboard-inner-container .bot-preview > p {
    margin-bottom: 0; }
