<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bot Manager | Dashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
		<link rel="stylesheet" href="/css/dashboard.css">
	</head>
	<body>
		<div class="dashboard-container">
			<div class="dashboard-sidebar"></div>
			<div class="dashboard-inner-container">
				<!-- Top Menu -->
				<div class="top-bar">
					<div class="top-bar-left title">
						<ul class="menu">
							<li><button type="button" class="button">Create</button></li>
							<li><input type="search" placeholder="Search for Bots.."></li>
						</ul>
					</div>

					<div class="top-bar-right">
						<ul class="dropdown menu" data-dropdown-menu>
							<li>
								<a href="javascript:void(0)">Options</a>
								<ul class="menu vertical">
									<li><a href="/accessed">Access</a></li>
									<li><a href="/settings">Settings</a></li>
									<li><a href="/logout">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

				<div class="grid-container fluid" id="bots"></div>
			</div>
		</div>

		<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
		<script src="/js/dashboard.js"></script>
	</body>
</html>