<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login | Bot Manager</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<%- include('template/navbar.ejs') %>
		<div class="welcome-container">
			<div class="center-container">
				<div class="centered welcome">
					<h1 class="title">Bot Manager</h1>
					<div class="desc">
						<span>A highly customizable bot. Music, Moderation, Verification, Games, Logging, Permissions, and more..</span>
					</div>
					<div class="bot-container">
						<span class="avail">Bots Available:</span>
						<span class="bots">Discord</span>
						<span class="more">more soon.</span>
					</div>
					<div class="buttons">
						<a class="button invite" href="/invite">Invite Me</a><a class="button docs" href="/docs">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>